
.foottitle{

    text-decoration: none;
    margin-left: 500px;
    margin-bottom: -20px;
    color: #FF7F00;
}
.footbody{
    text-decoration: none;
    margin-left: 580px;
    color: aliceblue;
}
input{

    text-transform: uppercase;
}


::-webkit-input-placeholder {
    text-transform: initial;
 }
 
 :-moz-placeholder { 
    text-transform: initial;
 }
 
 ::-moz-placeholder {  
    text-transform: initial;
 }
 
 :-ms-input-placeholder { 
    text-transform: initial;
 }
